[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-signify"]
	path = .vim/pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/pack/syntax/start/fennel"]
	path = .vim/pack/syntax/start/fennel
	url = https://github.com/jaawerth/fennel.vim.git
